<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
    <p>This is all about nothing</p>
    <p>It is especially not about:</p>
        <ul>
            <li>Sticks</li>
            <li>Bags</li>
            <li>Skull Kid</li>
            <li>Falling</li>
        </ul>

<%= link_to 'Home', root_path %>
</body>
</html>
